* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: lightskyblue;
}

.heading {
  padding-top: 5px;
  padding-bottom: 1px;
  background-color: lightskyblue;
  width: 100%;
}

header {
  text-align: center;
  width: 100%;
}

.heading {
  width: 100%;
}

h1 {
  font-size: 35px;
  color: white;
  margin: 1px;
  font-weight: 800;
  text-shadow: 5px 5px 15px black;
  font-family: "Over the Rainbow", cursive, Roboto, Arial, Times New Roman;
}

h2 {
  font-size: 18px;
  color: blue;
  margin: 10px;
  text-shadow: 0.1px 0.1px 0.1px black;
  font-family: "Over the Rainbow", cursive, Roboto, Arial, Times New Roman;
}

h3 {
  font-size: 15px;
  text-align: center;
  margin-top: 100px;
  color: black;
}

h5 {
  font-size: 10px;
  text-align: center;
  color: black;
}

.nav-content {
  list-style: none;
  display: inline;
  margin-right: 42px;
  font-size: 15px;
}

.nav-content li {
  background: cornsilk;
  width: 75px;
}

ul li {
  display: inline-block;
  position: relative;
  color: blue;
  text-shadow: 0.1px 0.1px 0.1px black;
  cursor: pointer;
  margin: 0;
}

ul li:hover {
  color: red;
  text-shadow: 0.1px 0.1px 0.1px black;
}

ul li ul {
  text-align: center;
  position: absolute;
  left: 0;
  width: 75px;
  top: 19px;
  padding-left: 0;
  display: none;
  visibility: hidden;
  color: blue;
  text-shadow: 0.1px 0.1px 0.1px black;
  text-shadow: 0.1px 0.1px 0.1px black;
  background-color: cornsilk;
}

ul li ul li {
  display: block;
  color: blue;
  text-shadow: 0.1px 0.1px 0.1px black;
}

ul li ul li:hover {
  color: red;
  text-shadow: 0.1px 0.1px 0.1px black;
}

ul li:hover ul {
  display: block;
  visibility: visible;
  z-index: 100;
}

.main-container {
  margin-top: 35px;
  background-color: lightskyblue;
}

.main-content {
  width: 100%;
  height: 320px;
  padding-top: 20px;
  text-align: center;
  margin-right: 20px;
}

.content {
  display: inline-block;
  text-align: center;
  width: 324px;
  height: 278px;
  background-color: lightgoldenrodyellow;
  margin-bottom: 50px;
}

/* Library */
.files {
  width: 320px;
  height: 320px;
  position: relative;
  background: none;
}

.file {
  width: 12.5%;
  height: 72%;
  position: absolute;
  top: 3%;
  box-shadow: 2px 2px 4px black;
}

.file:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.html {
  left: 2%;
  background-color: orangered;
}

.css {
  left: 16%;
  background-color: blue;
}

.sass {
  left: 30%;
  background-color: purple;
}

.javascript {
  left: 44%;
  background-color: yellow;
}

.jQuery {
  left: 58%;
  background-color: rgb(160, 160, 247);
}

.react {
  left: 72%;
  background-color: cyan;
}

.angular {
  left: 86%;
  background-color: red;
}

.comments {
  width: 70%;
  height: 77%;
  position: absolute;
  left: 15%;
  top: 2.5%;
  background-color: white;
}

.title {
  width: 1px;
  margin-left: 50%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.title h2 {
  color: black;
  text-shadow: none;
}

.identifier {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  position: absolute;
  left: 15.5%;
  top: 82%;
  background-color: white;
}

.identifier b {
  font-size: 23px;
  text-align: center;
}

.shelf {
  width: 99%;
  height: 35px;
  background-color: black;
  position: absolute;
  left: 1%;
  right: 2%;
  top: 73%;
}

.shelf p {
  text-align: center;
  -bottom: 10px;
  margin: 8px;
  color: white;
}

.span-link {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}
/* Library */
.books {
  width: 320px;
  height: 320px;
  position: relative;
  background: none;
}

.book {
  width: 12.5%;
  height: 72%;
  position: absolute;
  top: 3%;
  box-shadow: 2px 3px 5px black;
}

.book:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.book-title {
  font-family: Roboto, Arial, Times New Roman;
  width: 1px;
  margin-left: 50%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.orangered {
  left: 2%;
  background-color: orangered;
  border-left: 3px solid rgb(255, 165, 133);
  border-right: 3px solid rgb(190, 56, 6);
}

.blue {
  left: 16%;
  background-color: blue;
  border-left: 3px solid rgb(99, 99, 253);
  border-right: 3px solid rgb(14, 14, 201);
}

.purple {
  left: 30%;
  background-color: purple;
  border-left: 3px solid rgb(201, 8, 201);
  border-right: 3px solid rgb(92, 2, 92);
}

.yellow {
  left: 44%;
  background-color: yellow;
  border-left: 3px solid rgb(255, 255, 159);
  border-right: 3px solid rgb(179, 179, 3);
}

.violet {
  left: 58%;
  background-color: rgb(160, 160, 247);
  border-left: 3px solid rgb(193, 193, 255);
  border-right: 3px solid rgb(121, 121, 252);
}

.cyan {
  left: 72%;
  background-color: cyan;
  border-left: 3px solid rgb(144, 253, 253);
  border-right: 3px solid rgb(5, 170, 170);
}

.red {
  left: 86%;
  background-color: red;
  border-left: 3px solid rgb(247, 137, 137);
  border-right: 3px solid rgb(175, 5, 5);
}

.article {
  margin-top: 700px;
  background-color: white;
}

@media (min-width: 768px) {
  .article {
    margin-top: 10px;
  }
}

.card .about-me {
  width: 45%;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.card .frontend {
  width: 15%;
  float: left;
  margin-right: 20px;
}

.card p {
  text-align: justify;
  text-justify: inter-word;
}

.description {
  text-align: justify;
  text-justify: inter-word;
}

.row {
  margin-right: 200px;
  margin-left: 200px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card h2 {
  font-size: 16px;
}

.left-column h2 {
  text-align: left;
  text-transform: uppercase;
}

.left-column p {
  text-align: left;
  line-height: 1.5em;
  font-size: 15px;
}

.left-column {
  float: left;
  width: 73%;
}

.right-column {
  width: 27%;
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}

.card {
  padding: 20px;
  background-color: lightskyblue;
  margin-top: 15px;
}

.card h3 {
  margin-top: 1px;
}

.footer-article {
  text-align: center;
}

.footer-article img {
  width: 85.5%;
  padding: 1px;
  margin-bottom: 3px;
}

.footer {
  margin-top: 25px;
  border-top: 1px solid black;
  background: lightskyblue;
  padding-bottom: 1px;
}

.footer h2 {
  padding-top: 20px;
  font-family: "Cedarville Cursive", cursive;
  text-align: center;
}

.footer h4 {
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
}

.row {
  margin-right: 40px;
  margin-left: 40px;
}

@media (max-width: 900px) {
  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .left-column {
    float: none;
    width: 100%;
  }

  .right-column {
    width: 100%;
    float: none;
  }
}
